<!DOCTYPE html>
<html>
<head>
    <title>Blog Home</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple-v1.css">
</head>
<body>
    <h1>ALL BLOGS</h1>
    <a href="/create-blog">
        <button>Create a New Blog</button>
    </a>
    <br>
    {% if blogs %}
      <ul>
        {% for blog in blogs %}
          <li>
            <a href="/blog/{{ blog.id }}">
              <strong>{{ blog.title }}</strong> (ID: {{ blog.id }})
            </a>
            <form method="post" action="/delete-blog/{{ blog.id }}">
              <input type="submit" value="Delete Blog">
            </form>
            <form method="get" action="/edit-blog/{{ blog.id }}">
              <input type="submit" value="Edit Blog">
            </form>
            {% if blog.image_filename %}
               <img src="/static/uploads/{{ blog.image_filename }}", alt="Blog Image", style="width: 405px; height: 240px; object-fit: cover; border-radius: 8px; margin-top: 8px;">
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No Blogs Found.</p>
    {% endif %}
</body>
</html>
